= semantic_form_for @weapon do |f|

  - if @weapon.errors.any?
    #error_explanation
      %h2= pluralize(@weapon.errors.count, "error") + " prohibited this weapon from being saved:"
      %ul
        - @weapon.errors.full_messages.each do |msg|
          %li= msg

  %ul.fields
    %li= f.input :name
    %li= f.input :character, :as => :select
    %li= f.input :min_level
    %li= f.input :max_level
    %li= f.input :max_strength
    %li= f.input :max_magic
    %li= f.input :bonus
    %li= f.input :base_exp
    %li= f.input :increment_exp
    %li= f.input :buy
    %li= f.input :sell

  = f.submit
