<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @weapon.name %>
</p>

<p>
  <b>Min level:</b>
  <%= @weapon.min_level %>
</p>

<p>
  <b>Max level:</b>
  <%= @weapon.max_level %>
</p>

<p>
  <b>Max strength:</b>
  <%= @weapon.max_strength %>
</p>

<p>
  <b>Max magic:</b>
  <%= @weapon.max_magic %>
</p>

<p>
  <b>Bonus:</b>
  <%= @weapon.bonus %>
</p>

<p>
  <b>Base exp:</b>
  <%= @weapon.base_exp %>
</p>

<p>
  <b>Increment exp:</b>
  <%= @weapon.increment_exp %>
</p>

<p>
  <b>Buy:</b>
  <%= @weapon.buy %>
</p>

<p>
  <b>Sell:</b>
  <%= @weapon.sell %>
</p>


<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
