!!! 5
%html
  %head
    %title FFXIII Weapon Upgrade Calculator
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %section.content
      = yield
    
    - if user_is_admin?
      %nav.admin-nav
        = link_to "Sign Out", destroy_user_session_path, :method => :delete
        = link_to 'Characters', characters_path
        = link_to 'Weapons', weapons_path